<!doctype html>
<html lang="xl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">
    <title>fishadow</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="headers.css" rel="stylesheet">
  </head>

  <body>
    <header class="d-flex flex-wrap justify-content-center py-2 border-bottom align-items-center" id="header">
      <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto text-dark text-decoration-none">
        <%= image_tag "fishadow.jpg", size: '70x70' %>
        <h2 class="font-weight-normal" id="fishadow">Fishadow</h2>
      </a>
      <ul class="header-button nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page" id="registration">新規登録</a></li>
        <li class="nav-item"><a href="#" class="nav-link" id="login">ログイン</a></li>
      </ul>
    </header>

    <main class="d-flex flex-column align-items-center" id="main-page">
      <div class="card bg-white text-white w-100">
        <%= image_tag "fishadow_image.jpg", width:"100%", height:"600px" %>
      </div>
      <!-- fishadowとは？ ⬇︎ -->
      <div class="w-75 d-flex flex-wrap justify-content-center mx-auto my-5 py-2 align-items-center border border-5 bg-white">
        <div class="class=d-flex flex-wrap justify-content-center mb-md-0 py-2 align-items-center  ">
          <div class="d-flex justify-content-center align-items-center  text-dark text-decoration-none mx-auto">
            <img src="/assets/fishadow.jpg" alt="" height="70" width="70" id="fish-logo">
            <h2 class="font-weight-normal" id="fishadow">Fishadow</h2><h2 class="font-weight align-items-center mb-0">とは？</h2>
          </div>
          <h3 class="about1 text-left"><span>01</span>釣れた魚を投稿してシェアできる！</h3>
          <h3 class="about1 text-left"><span>02</span>他の釣り人の投稿を見てコメントで交流できる！</h3>
          <h3 class="about1 text-left"><span>03</span>地図上でどうな魚が釣れたか一目瞭然!!</h3>
          <h1 class="about2 text-center">総合SNS型WEBサービスです!</h1>
        </div>
      </div>
      <!-- fishadowとは？ ⬆︎-->

      <!--釣りの悩みを解決!! ⬇︎-->
      <div class="worries text-center mt-3 mb-5">
        <h2 class="worries-title bg-white fw-bold">釣りの悩みを解決!!</h2>
      </div>
      <!---釣りの悩みを解決!! ⬆︎-->

      <!--悩みリスト部分 ⬇-->
      <div class="container-fluid">
        <div class="row">
          <div class="worries_angler col-lg-6 text-center">
            <div class="mt-5 mb-5"><%= image_tag "/assets/worries_angler.jpeg", width: '500', height: 'auto'%></div>
          </div>
          <div class="col-xs-12 col-md-6 worries-area d-flex flex-column justify-content-center bg-white">
            <ul class="worries-list" >
                <li class="worries-item fadein-left active">最近の釣果をすぐに知りたい...</li>
                <li class="worries-item fadein-left active">釣具屋よりピンポイントで場所が知りたい...</li>
                <li class="worries-item fadein-left active">どんな釣り方、餌を使えばいいか分からない...</li>
                <li class="worries-item fadein-left active">釣り場の現在の天気も知れたら...</li>
            </ul>
          </div>
        </div>
      </div>
      <!--悩みリスト部分 ⬆︎-->
      <div class="worries-title2 d-flex justify-content-center align-items-center  text-dark text-decoration-none my-5" >
        <h2 class="font-weight-normal" id="fishadow">Fishadow</h2><h2 class=" align-items-center mb-0">を使えば!!</h2>
      </div>
      <!--解決方法 画像・説明 ⬇︎-->
      <div class="container mb-5">
        <div class="row text-center">
        <div class="card-group">
          <div class="col-sm ">
            <div class="card mx-auto w-75" style="width: 18rem;">
            <span class="text-center pt-3 fw-bold fs-5">マップで場所が見れる！<span>
              <div class="rounded mx-auto d-block mx-auto my-2"><%= image_tag 'map.jpg', height: '250px', width: '80%' %></div>
              <div class="card-body">
                実際に投稿した釣果がマップ上で見れるため、場所がわかりやすい！
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card mx-auto w-75" style="width: 18rem;">
            <span class="text-center pt-3 fw-bold fs-5">みんなの釣果が見れる！<span>
              <div class="rounded mx-auto d-block mx-auto my-2"><%= image_tag "fish_result.jpg", height:'250px', width:'80%' %></div>
              <div class="card-body">
                実際に釣れた魚を投稿しているため、信頼度が高い！
                釣れた餌や道具なども参考にできる！
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card mx-auto w-75" style="width: 18rem;">
            <span class="text-center pt-3 fw-bold fs-5">行きたい場所の天気がわかる！<span>
              <div class="rounded mx-auto d-block mx-auto my-2"><%= image_tag 'wether.jpg', height: '250px', width: '80%' %></div>
              <div class="card-body">
                参考にした場所の現在の天気が表示されるため、予定を立てやすい！
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!--解決方法 画像・説明 ⬆︎-->

      <div class="application_recomended d-flex justify-content-center">
        <div class="recomended text-center mx-auto my-5 py-5">
          <h4 class="recomended-text">釣果投稿webアプリケーション</h4>
          <div class="d-flex justify-content-center align-items-center  text-dark text-decoration-none mx-auto">
            <h2 class="font-weight-normal" id="fishadow">Fishadow</h2>
          </div>
          <a href="#" class="nav-link active w-50 mx-auto my-4" aria-current="page" id="registration">今すぐ始めてみる！</a></li>
        </div>
      </div>

      <footer class="w-100 bg-white">
        <div class="footer-menu row text-center mx-auto d-flex align-items-center">
          <div class="col-xs-12 col-md-2 col-md-offset-2  mt-3 ">
              <a class="footer-link my-auto" href="/users/sign_up">
                <i class="fas fa-chevron-right"></i>新規登録
              </a>
            </div>
            <div class="col-xs-12 col-md-2 col-md-offset-4  mt-3">
              <a class="footer-link" href="/users/sign_in">
                  <i class="fas fa-chevron-right"></i>ログイン
              </a>
            </div>
          <div class="col-xs-12 col-md-2 col-md-offset-4  mt-3">
            <a class="footer-link" href="/">
              <i class="fas fa-chevron-right"></i>釣果一覧
            </a>
          </div>
          <div class="col-xs-12 col-md-2 col-md-offset-4  mt-3">
            <a class="footer-link" href="/">
              <i class="fas fa-chevron-right"></i>利用規約
            </a>
          </div>
          <div class="col-xs-12 col-md-2 col-md-offset-4  mt-3">
              <a class="footer-link" href="/">
                <i class="fas fa-chevron-right"></i>プライバシーポリシー
              </a>
          </div>
          <div class="col-xs-12 col-md-2 mt-3">
              <a class="footer-link fas fa-chevron-right" href="/">twitter</a>
          </div>
        </div>
        <div class="web-copyright text-center pt-5 pb-3">
          Copyright © 2022-2023 Fishadow. All Rights Reserved.
        </div>
      </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>